wsdl/validateAeadService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!--
  ~ Copyright (c) 2011 United ID. All rights reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  ~ @author Stefan Wold <stefan.wold@unitedid.org>
  -->

<wsdl:definitions name="ValidateAeadServiceImplService" targetNamespace="http://ws.yhsm.unitedid.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.yhsm.unitedid.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.yhsm.unitedid.org/" xmlns:tns="http://ws.yhsm.unitedid.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="validateAEAD" type="tns:validateAEAD"/>
  <xs:element name="validateAEADResponse" type="tns:validateAEADResponse"/>
  <xs:complexType name="validateAEAD">
    <xs:sequence>
      <xs:element minOccurs="0" name="nonce" type="xs:string"/>
      <xs:element name="keyHandle" type="xs:int"/>
      <xs:element minOccurs="0" name="aead" type="xs:string"/>
      <xs:element minOccurs="0" name="plaintext" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validateAEADResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="YubiHSMErrorException">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="YubiHSMErrorException" type="tns:YubiHSMErrorException"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="YubiHSMErrorException">
    <wsdl:part element="tns:YubiHSMErrorException" name="YubiHSMErrorException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateAEADResponse">
    <wsdl:part element="tns:validateAEADResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateAEAD">
    <wsdl:part element="tns:validateAEAD" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ValidateAeadService">
    <wsdl:operation name="validateAEAD">
      <wsdl:input message="tns:validateAEAD" name="validateAEAD">
    </wsdl:input>
      <wsdl:output message="tns:validateAEADResponse" name="validateAEADResponse">
    </wsdl:output>
      <wsdl:fault message="tns:YubiHSMErrorException" name="YubiHSMErrorException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidateAeadServiceImplServiceSoapBinding" type="tns:ValidateAeadService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validateAEAD">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validateAEAD">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateAEADResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="YubiHSMErrorException">
        <soap:fault name="YubiHSMErrorException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidateAeadServiceImplService">
    <wsdl:port binding="tns:ValidateAeadServiceImplServiceSoapBinding" name="ValidateAeadServiceImplPort">
      <soap:address location="http://localhost:8081/YubiHSM-java-validation-service-0.1/validateAeadService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>